@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #53565a;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  min-height: 957px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 67px;
  padding-right: 5px;
  background-image: url(/src/assets/img/taking_notes.svg);
  background-position: top 240px right 10px;
  background-repeat: no-repeat;
  background-size: auto;
}

button,
button:active,
button:focus {
  outline: none;
}
